<div class="main-content">
  <div class="empty-screen">
    <div class="icon-div">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        <g
          id="Iconly_Bulk_Category"
          data-name="Iconly/Bulk/Category"
          transform="translate(0 0)"
        >
          <rect
            id="Iconly_Bulk_Category_Background_"
            data-name="Iconly/Bulk/Category (Background)"
            width="20"
            height="20"
            transform="translate(0 0)"
            fill="none"
          />
          <g id="Category" transform="translate(2.034 2.034)">
            <path
              id="Fill_1"
              data-name="Fill 1"
              d="M4.821,0A2.074,2.074,0,0,1,6.886,2.083V4.861A2.074,2.074,0,0,1,4.821,6.944H2.066A2.074,2.074,0,0,1,0,4.861V2.083A2.074,2.074,0,0,1,2.066,0Z"
              transform="translate(9.386)"
              fill="#d3d9ea"
            />
            <path
              id="Combined_Shape"
              data-name="Combined Shape"
              d="M11.451,16.274a2.075,2.075,0,0,1-2.065-2.083V11.412A2.074,2.074,0,0,1,11.451,9.33h2.756a2.074,2.074,0,0,1,2.065,2.083v2.778a2.075,2.075,0,0,1-2.065,2.083Zm-9.385,0A2.075,2.075,0,0,1,0,14.191V11.412A2.074,2.074,0,0,1,2.066,9.33H4.821a2.074,2.074,0,0,1,2.065,2.083v2.778a2.075,2.075,0,0,1-2.065,2.083Zm0-9.33A2.074,2.074,0,0,1,0,4.861V2.083A2.074,2.074,0,0,1,2.066,0H4.821A2.074,2.074,0,0,1,6.886,2.083V4.861A2.074,2.074,0,0,1,4.821,6.945Z"
              fill="#d3d9ea"
            />
          </g>
        </g>
      </svg>
      <!-- <img src="../../../../assets/icons/dashboard.png" class="image" /> -->
    </div>
    <h1 class="heading">Welcome to the Dashboard</h1>
  </div>
</div>
