.create-new-password {
  h2.heading-login-text {
    font-size: 21px;
    margin: 0 0 20px 0;
  }

  p {
    color: #aaa;
    font-size: 14px;
    text-align: center;
    margin: 0 0 40px 0;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .position-icon.lock {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 16px;
  }
}
