<header>
  <div class="d-flex align-items-center">
    <i
      class="fas fa-bars show-only-mobile mr-2"
      (click)="addMobileHeader(false)"
    ></i>
    <i
      class="fa fa-arrow-left show-only-mobile"
      aria-hidden="true"
      *ngIf="hideBackFunction"
      [routerLink]="'/user/patients'"
      style="cursor: pointer"
    ></i>
    <div
      class="back-btn show-only-main"
      *ngIf="hideBackFunction"
      [routerLink]="'/user/patients'"
      style="cursor: pointer"
    >
      <img src="../../../assets/images/west.png" class="mr-2" />Back to all
      patients
    </div>
    <div class="search-div position-relative" *ngIf="this.receivedValue">
      <div class="search">
        <i class="far fa-search"></i>
        <input
          type="search"
          placeholder="{{ searchPlaceHolder }}"
          [(ngModel)]="inputValue"
          (ngModelChange)="onInputChange()"
        />
      </div>
    </div>
  </div>
  <div class="icons m-0 d-flex align-items-center">
    <i class="fas fa-bell"></i>
    <i class="fas fa-envelope"></i>
    <div class="user-profile1">
      <div
        class="user-name d-flex align-items-center"
        [matMenuTriggerFor]="menu"
      >
        <div class="d-flex align-items-center">
          <div class="profile-pic" *ngIf="imageUrl">
            <div class="d-flex align-items-center justify-content-center">
              <span><img [src]="imageUrl" class="image" /></span>
            </div>
          </div>
          <div class="profile-pic dispaly-pofile" *ngIf="!imageUrl">
            <div class="d-flex align-items-center justify-content-center">
              <span>{{ userName }}</span>
            </div>
          </div>
          <div class="ml-2">
            <h3 class="m-0">{{ userNameFull | titlecase }}</h3>
            <p class="m-0">{{ userType | titlecase }}</p>
          </div>
        </div>
        <div class="ml-2" style="cursor: pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="5"
            viewBox="0 0 10 5"
          >
            <g id="arrow_drop_down" transform="translate(-5 -7.5)">
              <path
                id="Vector"
                d="M0,0,5,5l5-5Z"
                transform="translate(5 7.5)"
                fill="#84818a"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openSettings()">
      <div [routerLink]="'/user/settings/details'" class="mat">
        <svg
          class="mr-2"
          xmlns="http://www.w3.org/2000/svg"
          width="16.044"
          height="16.044"
          viewBox="0 0 16.044 16.044"
        >
          <path
            id="Icon_awesome-user-alt"
            data-name="Icon awesome-user-alt"
            d="M8.022,9.025A4.512,4.512,0,1,0,3.51,4.512,4.514,4.514,0,0,0,8.022,9.025Zm4.011,1H10.306a5.455,5.455,0,0,1-4.569,0H4.011A4.011,4.011,0,0,0,0,14.038v.5a1.5,1.5,0,0,0,1.5,1.5H14.54a1.5,1.5,0,0,0,1.5-1.5v-.5A4.011,4.011,0,0,0,12.033,10.027Z"
            fill="#89878d"
          />
        </svg>
        <span>Profile</span>
      </div>
    </button>
    <button mat-menu-item (click)="logOut()">
      <div class="mat-span">
        <i class="far fa-power-off mr-2"></i> <span>LogOut</span>
      </div>
    </button>
  </mat-menu>
</header>
