::ng-deep {
  .reset-password {
    .mat-form-field {
      width: 75px !important;
      padding-left: 2px;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: inherit !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 !important;
    }
    .mat-form-field-underline {
      display: none !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      height: 30px !important;
      align-items: center;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
      transform: translateY(-6%) !important;
    }
  }
}

.enter-phone {
  padding: 0;
  .width-email {
    width: calc(100% - 75px);
    .form-control {
      width: 100% !important;
    }
  }
  .width-phone {
    width: calc(100% - 170px);
  }
  .invalid-feedback {
    margin-left: 0px;
  }
}

.select-email {
  margin-top: 5px;
  width: 75px;
}

::ng-deep {
  .enter-phone {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1224px) {
  .login-page button.continue {
    font-size: 14px;
  }
}

input.mat-input-element {
  cursor: pointer;
}

h2.heading-login-text {
  font-size: 21px;
  margin: 0 0 15px 0;
}

.already.text-center {
  font-size: 13px;
  font-weight: 500;
  margin: 25px 0 0 0;
}
p {
  color: #aaaaaa;
  text-align: center;
  margin: 0 0 35px 0;
}

.position-icon.lock {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 16px;
}

.enter-phone .form-control.phone {
  width: 100% !important;
}

.position-icon.Email {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 18px;
}
