.dashboard {
  display: flex;
  height: calc(100% - 2px);
  min-height: 100vh;
}

.right-sidebar {
  width: calc(100% - 255px);
  margin: 0 0 0 255px;
  background: #f4f4f5;
  transition: 0.5s;
}

.small-sidebar {
  ::ng-deep {
    .sidebar {
      width: 100px;
      padding: 20px 0px 20px 0px;
      height: 100%;
      .logo {
        img {
          width: 80% !important;
        }
      }
      ul li {
        margin: 0;
        a {
          flex-direction: column;
          gap: 4px !important;
          border-radius: 6px !important;
          width: 90%;
          height: 57px !important;
          justify-content: center;
          padding: 0 !important;
          font-size: 10px !important;
          margin: 0 auto !important;
        }
      }
    }
  }
  .right-sidebar {
    width: calc(100% - 100px);
    min-height: 100vh;
    margin: 0 0 0 100px;
  }
}

body {
  min-height: 100vh;
}

::ng-deep .small-sidebar .settings-li mat-expansion-panel-header {
  font-size: 10px !important;
  height: 57px !important;
  padding: 0 5px 0 10px !important;
}

::ng-deep .small-sidebar .settings-li .lx-link {
  flex-direction: column;
  gap: 4px !important;
}

::ng-deep .small-sidebar .settings-li .mat-expansion-panel-header-title {
  margin-right: 0;
  justify-content: flex-start;
  span {
    font-size: 9px;
  }
}

::ng-deep .small-sidebar .settings-li .mat-expansion-indicator::after {
  border-width: 0 1px 1px 0;
  margin-top: -5px;
}

::ng-deep .small-sidebar .settings-li .mat-expansion-panel-body {
  padding: 0 0px 0 0 !important;
}
::ng-deep .small-sidebar ul .activeheader {
  border-radius: 6px !important;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1173px) {
  .right-sidebar {
    width: calc(100% - 230px);
    margin: 0 0 0 230px;
  }
}

@media screen and (max-width: 768px) {
  .small-sidebar .right-sidebar {
    width: 100%;
    margin: 0;
  }
  .right-sidebar {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .right-sidebar {
    width: 100% !important;
    margin: 0 0 0 0px !important;
  }
}
